/*Body CSS */
body{
    margin: 0;
    padding: 0;
}
/*Header CSS */
.container {
    display: flex;
    

}
.logo {
    flex: 1;
    text-align: center;
}
/*Controls CSS */
.container.controls{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    
}
button{
    flex: 1;
    max-width: 10%;
    margin-right: 0.5%;
}
/* Cell CSS */
#grid{
  width: 540px; /* set the width of the wrapper to match the width of the grid */
  display: flex; /* use Flexbox to center the grid within the wrapper */
  justify-content: center;
  align-items: center;
  padding-left: 35%;
  padding-top: 5%
}
.cell {
    padding: 0;
    margin: 0;
    width: 2rem;
    height: 2rem;
    border: none;
    display: inline-block;
    background-color: whitesmoke;
    outline: 2px solid purple;
}